body {
    background-color: antiquewhite;
}

.container {
    width: 40%;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    margin: auto;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

#button {
    width: 60%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#button:hover {
    background-color: #c1c1c1;
    cursor: pointer;
}

#kerdes1:hover,
#kerdes2:hover,
#kerdes3:hover {
    cursor: pointer;
}

.kerdesLabel{
    font-weight: bold;
    font-size: 20px;
}